.profileScreen{
    height: 100vh;
    color: black;
}

.profileScreen__body{
    display: flex;
    flex-direction: column;
    color: white;
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 100px;
    max-width: 800px;
}

.profileScreen__info{
    display: flex;

}

.profileScreen__info > img{
    height: 100px;
}

.profileScreen__details{
    color: white;
    margin-left: 25px;
    flex: 1;

}

.profileScreen__details > h2{
    background-color: gray;
    padding: 12px;
    font-size: 15px;
    padding-left: 20px;
    border-radius: 5px;
}

.profileScreen__body > h1{
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid#282c2d;
    margin-bottom: 20px;
    margin-top: 30px;
} 

.profileScreen__signOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.profileScreen__signOut:hover{
    color: white;
    background-color: black;
    border: 2px solid white;
    transition: 0.4s;

}

.profileScreen__plans {
    margin-top: 20px;
}

.profileScreen__plans > h3{
    border-bottom: 1px solid  #282c2d ;
    padding-bottom: 5px;
}

.plan__one{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.plan__one > button{
    position: absolute;
    border-radius: 5px;
    right: 0;
    padding: 8px 10px;
    border: none;
    width: 30%;
}

.plan__one > button:hover{
    color: white;
    background-color: black;
    border: 2px solid white;
    transition: 0.4s;
}


.plan__two{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    
}

.plan__two > button{
    position: absolute;
    right: 0;
    border-radius: 5px;
    padding: 8px 10px;
    border: none;
    width: 30%;
}

.plan__two > button:hover{
    color: white;
    background-color: black;
    border: 2px solid white;
    transition: 0.4s;

}

.plan__three{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.plan__three > button{
    position: absolute;
    right: 0;
    border-radius: 5px;
    padding: 8px 10px;
    border: none;
    width: 30%;
}

.plan__three > button:hover{
    color: white;
    background-color: black;
    border: 2px solid white;
    transition: 0.4s;
}

.profileScreen__plans > h3{
    margin-bottom: 10px;
}

.profileScreen__plans > p {
    margin-bottom: 10px;
}

@media (max-width: 588px){
    .profileScreen__body > h1{
        font-size: 40px;
        font-weight: 400;
        border-bottom: 1px solid#282c2d;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .profileScreen__info > img{
        height: 40px;
    }

    .profileScreen__details > h2{
        background-color: gray;
        padding: 12px;
        font-size: 10px;
        padding-left: 20px;
        border-radius: 5px;
    }

    .profileScreen__plans > h3{
        margin-bottom: 10px;
        font-size: 10px;
    }

    .profileScreen__plans > p{
        margin-bottom: 10px;
        font-size: 10px;
    }

    .plan__one > div > h5{
        font-size: 10px;
    }

    .plan__two > div > h5{
        font-size: 10px;
    }

    .plan__three > div > h5{
        font-size: 10px;
    }

    .plan__one > button{
        position: absolute;
        border-radius: 5px;
        right: 0;
        padding: 2px 0px;
        border: none;
        width: 38%;
        height: 28px;
    }

    .plan__two > button{
        position: absolute;
        border-radius: 5px;
        right: 0;
        padding: 2px 0px;
        border: none;
        width: 38%;
        height: 28px;
    }

    .plan__three > button{
        position: absolute;
        border-radius: 5px;
        right: 0;
        padding: 2px 0px;
        border: none;
        width: 38%;
        height: 28px;
    }
}

@media (max-width: 412px){

    .profileScreen__body{
        margin-left: 80px;
    }

    .profileScreen__body > h1{
        font-size: 40px;
        font-weight: 400;
        border-bottom: 1px solid#282c2d;
        margin-bottom: 20px;
        margin-top: 80px;
    }

    .profileScreen__info > img{
        height: 40px;
    }

    .profileScreen__details > h2{
        background-color: gray;
        padding: 12px;
        font-size: 10px;
        padding-left: 20px;
        border-radius: 5px;
    }

    .profileScreen__plans > h3{
        margin-bottom: 10px;
        font-size: 10px;
    }

    .profileScreen__plans > p{
        margin-bottom: 10px;
        font-size: 10px;
    }

    .plan__one > div > h5{
        font-size: 10px;
    }

    .plan__two > div > h5{
        font-size: 10px;
    }

    .plan__three > div > h5{
        font-size: 10px;
    }

    .plan__one > button{
        position: absolute;
        border-radius: 5px;
        right: 0;
        padding: 2px 0px;
        border: none;
        width: 38%;
        height: 28px;
    }

    .plan__two > button{
        position: absolute;
        border-radius: 5px;
        right: 0;
        padding: 2px 0px;
        border: none;
        width: 38%;
        height: 28px;
    }

    .plan__three > button{
        position: absolute;
        border-radius: 5px;
        right: 0;
        padding: 2px 0px;
        border: none;
        width: 38%;
        height: 28px;
    }
}