.loginScreen{
    position: relative;
    height: 100%;
    background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/movies-about-the-south-1562104598.png?crop=0.992xw:1.00xh;0.00481xw,0&resize=640:*")
    center no-repeat;
    background-size: cover;
    
}

.loginScreen__logo{
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
    margin-top: 20px;
}

.loginScreen__gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%,
    );
}

.loginScreen__button{
    position: fixed;
    right: 35px;
    top: 26px;
    padding: 10px 20px;
    font-size: 1rem;
    color: aliceblue;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.loginScreen__button:hover{
    position: fixed;
    right: 35px;
    top: 26px;
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    background-color: aliceblue;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s;
}

.loginScreen__body{
    position: absolute;
    top: 30%;
    /* margin-left: auto;
    margin-right: auto; */
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.loginScreen__body > h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}

.loginScreen__body > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginScreen__body > h3{

}

.loginScreen__input{
    margin: 20px;
}


.loginScreen__input > form > input{
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;

}
.loginScreen__getStarted{
    padding: 16px 20px;
    font-size: 1rem;
    color: aliceblue;
    background-color: black;
    border: none;
    cursor: pointer;
    border: none;
}

@media (max-width: 413px){

    .loginScreen__body {
        top: 25%;
    }

    .loginScreen__body > h1{
        font-size: 2.75rem;
        text-align: left;
        border-left: 1px solid white;
        padding-left: 10px;
    }

    .loginScreen__body > h2{
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .loginScreen__body > h3{
        font-size: 0.8rem;
    }

    .loginScreen__input > form{
        display: flex;
        flex-direction: column;
    }

    .loginScreen__input > form > input{
        padding: 10px;
        outline-width: 0;
        height: 26px;
        width: 70%;
        left: 0;
        right: 0;
        margin: auto;
        border: none;
        max-width: 600px;
        width: 244px;
        border-radius: 5px;
    
    }

    .loginScreen__getStarted{
        left: 0;
        right: 0;
        margin: auto;
        font-size: 0.9rem;
        color: aliceblue;
        margin-top: 8px;
        height: 10%;
        background-color: black;
        border: none;
        cursor: pointer;
        border: none;
        width: 265px;
        margin-top: 15px;
        border-radius: 5px;
    }
}